<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>1E29F8CB-B30A-4AA0-A0D4-22DE7208ECF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>333A71C5-A05F-4318-AC89-E4441AE2D7CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FB77502-CA27-44B6-B0BE-ACDFEBBCA05E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E29F8CB-B30A-4AA0-A0D4-22DE7208ECF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Browse in Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>333A71C5-A05F-4318-AC89-E4441AE2D7CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>1E29F8CB-B30A-4AA0-A0D4-22DE7208ECF7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9FB77502-CA27-44B6-B0BE-ACDFEBBCA05E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1E29F8CB-B30A-4AA0-A0D4-22DE7208ECF7</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>333A71C5-A05F-4318-AC89-E4441AE2D7CC</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>9FB77502-CA27-44B6-B0BE-ACDFEBBCA05E</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
